<div id="weather_wrapper">
  <span *ngIf="update"> There is an update!</span>
	<div class="weatherCard">
		<div class="currentTemp">
			<span class="temp">{{weather?.current.temp_c}}&deg;</span>
			<span class="location">{{weather?.location.name}}</span>
		</div>
		<div class="currentWeather">
			<span class="conditions"><img src="{{weather?.current.condition.icon}}" alt=""></span>
			<div class="info">
				<span class="rain">{{weather?.current.humidity}} MM</span>
				<span class="wind">{{weather?.current.wind_mph}} MPH</span>
			</div>
		</div>
	</div>
</div>

